<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <style>
        h1{
            margin: 20px;
        }
    </style>
</head>
<body data-bs-theme="dark">
  {% include 'navbar.html' %}

    <div class="container-fluid d-flex justify-content-center">
        <h1>About Us</h1>
    </div>

    <div class="row mx-1 row-cols-1 row-cols-sm-4 g-4">
    <div class="col">
        <div class="card h-100">
        <img src="../static/images/Ibinu.png" class="card-img-top" alt="Ibinu Jaleel">
        <div class="card-body">
            <h5 class="card-title">Ibinu Jaleel</h5>
            <p class="card-text">Hey 👋! I am Ibinu. I'm a builder at heart 🛠️, always exploring how to turn unconventional ideas into products people genuinely love. My hobbies are watching movies 🎥, playing games 🎮 and most of the time.. tinkering with my laptop 💻. I'm always looking out for opportunities so DM me when ur free. Adiós ✌️</p>
            <a href="https://www.linkedin.com/in/ibinu-jaleel-163000323/" class="d-block mb-2 text-decoration-none  fw-slight">Linkedin Profile</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
        <img src="../static/images/Shalin.png" class="card-img-top" alt="Shalin Varghese">
        <div class="card-body">
            <h5 class="card-title">Shalin Varghese</h5>
            <p class="card-text">Hi, I'm Shalin Varghese, a CSE student at NIT Calicut. I'm really passionate about UI/UX design & web development as I love creating digital experiences that strike a balance between functionality and aesthetics. I have a solid background in programming & enjoy working on creative projects.</p>
            <a href="https://www.linkedin.com/in/shalin-varghese-023a08323/" class="d-block mb-2 text-decoration-none  fw-slight">Linkedin Profile</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
        <img src="../static/images/Jiss.jpg" class="card-img-top" alt="Jiss Janex">
        <div class="card-body">
            <h5 class="card-title">Jiss Janex</h5>
            <p class="card-text">Hi, I'm Jiss Janex, a first-year computer science student at NIT Calicut. I'm really into programming and currently exploring the fundamentals of C. I like keeping things clear and to the point, especially when learning or solving problems. I'm passionate about tech and always looking for ways to innovate and grow.</p>
            <a href="https://www.linkedin.com/in/jiss-janex-246711241/" class="d-block mb-2 text-decoration-none  fw-slight">Linkedin Profile</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
        <img src="../static/images/Richu.jpg" class="card-img-top" alt="Richu Shine">
        <div class="card-body">
            <h5 class="card-title">Richu Shine</h5>
            <p class="card-text">My name is Richu, and I am a first-year CSE student at NIT Calicut. A professional frontend developer, I specialize in creating intuitive interfaces & am proficient in C, CSS, Python, & HTML. I enjoy transforming ideas into functional designs. I'm eager to learn & grow in the evolving tech world</p>
            <a href="https://www.linkedin.com/in/richu-shine-b8a771330/" class="d-block mb-2 text-decoration-none  fw-slight">Linkedin Profile</a>
        </div>
        </div>
    </div>
    </div>


  {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>