h1{
  font-family: "Comfortaa", sans-serif;
  font-size: 3rem;
}

.main-event-block{
      background-image: url(../static/images/img1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 70vh;
      border-radius: 20px;
}

#back-button{
  margin: 20px;
}

.details-inside-photo{
  width: 45%;
  height: 65%;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  justify-content: space-around;
}

footer{
  font-family: "Comfortaa", sans-serif;
  color: white;
  background-color: #0d3b66;
  margin: -8px;
  padding: 10px;
  margin-top: 20px;
}
footer h5{
  display: inline;
  font-size: 1.5rem;
}
footer span{
  text-align: left;
  display: block;
}
.rights{
  display: block;
  text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between; 
    margin: 2%;  
    font-size: 1.25rem;
    font-family: "Comfortaa", sans-serif;
}
.nav{
  padding-top: 8px;
  color: black;
  text-decoration: none;
}
.nav-link{
  margin-left: 30px;
  margin-right: 30px;
}
.logo{
    display: inline;
    margin:-15px;
    height: 50px;
}
.signup{
    background-color: #0d3b66;
    color: white;
    padding: 8px;
    margin-left: 10px;
    border-radius: 8px;
}
.logsign{
  display: flex;
  justify-content: space-around;
}
.signup:hover{
  transform: scale(1.1);
}
.login:hover{
  transform: scale(1.1);
}
.login{
    border: 1px solid #0d3b66;
    padding: 7px;
    border-radius: 8px;
}