.navbar-brand img{
    height: 50px;
}
.home-page h1{
    font-size: 3rem;
}
.home-page img{
    width: 70%;
    border-radius: 15px;
    float: right;
}
.stats{
    display: flex;
    padding: 10px;
}
.stats h5{
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 8px;
    margin: 6px;
}
@media screen and (max-width: 993px){
    .home-page img{
        width: 100%;
    }
}
