<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - RelayPoint</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <style>
      a {
        text-decoration: none;
        color: white;
      }
      .stats{
          display: flex;
      }
      .stats h3{
          background-color: navy;
          padding: 10px;
          margin: 3px;
          border-radius: 10px;
      }
      .myactivity{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px;
        background-color: navy;
        border-radius: 10px;
        margin: 10px;
      }
      .carousel-item img{
        object-fit: contain;
        height: 70vh;
      }
    </style>
</head>
<body data-bs-theme="dark">
    {% include 'navbar.html' %}
    <div class="cotainer-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner px-2 py-3">
              {% if latest|length > 0 %}
              <div class="carousel-item active">
                <a href="/event/{{latest[0].id}}">
                <img src="/image/{{latest[0].image_ids[0] if latest[0].image_ids else 0}}" class="d-block w-100" alt="">
                </a>
              </div>
              {% endif %}
              {% for event in latest[1:] %}
              <div class="carousel-item">
                <a href="/event/{{event.id}}">
                <img src="/image/{{event.image_ids[0] if event.image_ids else 0}}" class="d-block w-100" alt="">
                </a>
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-lg-4 px-3 py-3">
          <div class="col-lg-12 text-center">
            <h1>RelayPoint - Event Management System of NITC</h1>
            <p>This centralized event management platform is designed to streamline the organization and participation of events within the NIT Calicut campus. From technical symposiums and cultural festivals to workshops and guest lectures, the system brings all campus events under one unified interface.</p>
          </div>
          <div class="col-lg-12 ">
            <div class="d-flex flex-row flex-wrap justify-content-center stats">
              <h3>50+ Hackathon</h3>
              <h3>200+ Events</h3>
              <h3>100K Ticktes</h3>
            </div>   
          </div>
        </div>
        
      </div>
    </div>
    <div class="container-fluid row mt-5">
      <div class="col-lg-12 d-flex flex-row">
        <h2>Events Around You</h2>
        <div class="ms-auto d-flex gap-3">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Date
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sunday</a></li>
              <li><a class="dropdown-item" href="#">Monday</a></li>
              <li><a class="dropdown-item" href="#">Tuesday</a></li>
              <li><a class="dropdown-item" href="#">Wednesday</a></li>
              <li><a class="dropdown-item" href="#">Thursday</a></li>
              <li><a class="dropdown-item" href="#">Friday</a></li>
              <li><a class="dropdown-item" href="#">Saturday</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Event
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Games</a></li>
              <li><a class="dropdown-item" href="#">Lecture</a></li>
              <li><a class="dropdown-item" href="#">Hackathon</a></li>
              <li><a class="dropdown-item" href="#">LAN Party</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
          {% for event in upcoming_events %}
          <div class="col">
            <div class="card m-3 h-100">
            <img src="/image/{{event.image_ids[0] if event.image_ids else 0}}" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <p class="card-text">{{event.description[:250]+"..."}}</p>
              <a href="/event/{{event.id}}" class="btn btn-primary">View Event</a>
            </div>
          </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
    <div class="container-fluid row mt-5 ">
      <div class="col-md-3">
        <h3>My Activity</h3>
        <div class="myactivity">
          <img class="m-3" src="../static/images/activitypts.png" style="height: 40px;"/>
          MY POINTS : {{points if username!="Guest User" else "Login to see your points"}}
        </div>
        <div class="myactivity">
          <img class="m-3" src="../static/images/rank.png" style="height: 40px;"/>
          MY RANK : {{rank if username!="Guest User" else "Login to see your rank"}}
        </div>
        <div class="myactivity">
          <img class="m-3" src="../static/images/workshop.png" style="height: 40px;"/>
          EVENTS ATTENDED : {{attended_events if username!="Guest User" else "Login to see your events"}}
        </div>
      </div>
      <div class="col-md-9">
        <div class=" d-flex">
          <h3>Registered Events</h3>
          <button type="button" class="btn btn-outline-primary ms-auto">View More</button>
        </div>
        <div class="m-3">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for event in registered_events %}
            <div class="col">
              <div class="card">
                <img src="/image/{{event.image_ids[0] if event.image_ids else 0}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{event.title}}</h5>
                  <h6> Days to go : {{event.time_difference}}</h6>
                  <p class="card-text">{{event.description[:250]+"..."}}</p>
                  <a href="/event/{{event.id}}" class="btn btn-primary">View Event</a>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  <div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      
      <p class="col-md-4 mb-0 text-body-secondary">© 2025 RelayPoint, Inc</p>
      
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      
    </footer>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>