<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - RelayPoint</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <style>
        h1{
            margin: 20px;
        }
        h2{
            margin: 15px;
            margin-top: 30px;
        }
        .details{
            font-weight: 400;

        }
    </style>
</head>
<body data-bs-theme="dark">
    {% include 'navbar.html' %}

    <h1>My Profile</h1>
    <div class="container row d-flex justify-content-center">
        <img src="../static/images/user_logo.jpg" class="col-3" style="border-radius: 50%; height: 150px; width: 150px; padding:0;"/>
        <div class="col-9 m-3">
            <h3>Name: <span class="details">{{username}}</span></h3>
            <h3>Workshops Attended: <span class="details">{{workshop_count}}</span></h3>
            <h3>Activity Points: <span class="details">{{points}}</span></h3>
            <h3>My Rank: <span class="details">{{rank}}</span></h3>
        </div>
        <div class="row gap-1 d-flex flex-row justify-content-start ms-5">
            <a href='/myevents' style="width: auto;">
            <button type="button" class="btn btn-primary">My Events</button>
            </a>
            <a href='/logout' style="width: auto;">
            <button type="button" class="btn btn-primary">Logout</button>
            </a>
        </div>
    </div>
    <h2>Recent Workshops</h2>
          <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
          {% for event in recent_events[:5] %}
          <div class="col">
            <div class="card m-3 h-100">
            <img src="/image/{{event.image_ids[0]}}" class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <p class="card-text">{{event.description}}</p>
              <a href="/event/{{event.id}}" class="btn btn-primary">View Event</a>
            </div>
          </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>


    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>